<div class="d-flex  ">

    <div class="w-100">
        <div class="position-relative p-2 ">
            <div class="icon">
                <img src="assets/icons/close.svg" alt="">
            </div>
            <div class=" shadow-primary">
                <img class="banner" src="assets/images/banner/banner_1.jpg" alt="">

            </div>
        </div>

    </div>

    <div class="w-100">
        <div class="position-relative p-2">
            <div class="icon">
                <img src="assets/icons/close.svg" alt="">
            </div>
            <div  class=" shadow-primary">
                <img class="banner" src="assets/images/banner/banner_1.jpg" alt="">

            </div>
        </div>

    </div>
</div>

